<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="xBT4GhYoi5qRD5tr338pgPM5OWHHIDR6mNg1a3euekI" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords"  content="{{ site.keyword }}">
    <meta name="theme-color" content="{{ site.chrome-tab-theme-color }}">
    
    <!-- Open Graph -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}">
    {% case page.layout %}
    {% when 'post' %}
    <meta property="og:type" content="article">
    <meta property="og:description" content="{{ page.excerpt | strip_html | truncate:200 }}">
    {% if page.date %}
    <meta property="article:published_time" content="{{ page.date | date: "%Y-%m-%dT%H:%M:%SZ" }}">
    {% endif %}
    {% if page.author %}
    <meta property="article:author" content="{{ page.author }}">
    {% endif %}
    {% for tag in page.tags %}
    <meta property="article:tag" content="{{ tag }}">
    {% endfor %}
    {% else %}
    <meta property="og:type" content="website">
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    {% endcase %}
    <meta property="og:image" content="{{ site.url }}{{ site.sidebar-avatar }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:site_name" content="{{ site.SEOTitle }}">
    
    <title>{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}</title>

    <!-- Web App Manifest -->
    <link rel="manifest" href="{{ site.baseurl }}/pwa/manifest.json">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.ico">
    
    <!-- Canonical URL -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/hux-blog.min.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <!-- Hux change font-awesome CDN to qiniu -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- ga & ba script hoook -->
    <script></script>
     <style type="text/css">
            body{margin:0px;}
        </style>
     <script>
            var canvas = document.createElement('canvas'),
            context = canvas.getContext('2d'),
            windowW = window.screen.width ,
            windowH = window.screen.height ,
            Mx,
            My,
            paused = true;
            suzu = [];
            booms = [];
            boomks = [];
            start();

            canvas.onmousemove = function(e) {
                var loc = canvasMove(e.clientX, e.clientY);
                Mx = loc.x;
                My = loc.y
            };

            canvas.onmousedown = function() {
                creatarry(Mx, My);
                paused = !paused
            };

            function creatarry(a, b) {
                for (var i = 0; i < 40; ++i) {
                    booms[i] = {
                        x: a,
                        y: b,
                        gravity: 0.3,
                        speedX: Math.random() * 20 - 10,
                        speedY: Math.random() * 15 - 7,
                        radius: Math.random() * 15,
                        color: Math.random() * 360,
                        apc: 0.6
                    };
                    boomks.push(booms[i]);
                    if (boomks.length > 300) {
                        boomks.shift()
                    };
                    console.log(boomks)
                }
            };

            function loop1() {
                boomks.forEach(function(circle) {
                    context.beginPath();
                    context.arc(circle.x, circle.y, circle.radius, 0, Math.PI * 2, false);
                    context.fillStyle = 'hsla(' + circle.color + ',100%,60%,' + circle.apc + ')';
                    context.fill();
                    movecircles(circle)
                })
            }
            function movecircles(circle) {
                circle.x += circle.speedX;
                circle.speedY += circle.gravity;
                circle.y += circle.speedY;
                circle.apc -= 0.008
            }
            function canvasMove(x, y) {
                var bbox = canvas.getBoundingClientRect();
                return {
                    x: x - bbox.left * (canvas.width / bbox.width),
                    y: y - bbox.top * (canvas.height / bbox.height)
                }
            };

            function start() {
                document.body.appendChild(canvas);
                canvas.width = windowW;
                canvas.height = windowH;
                setInterval(fang, 25)
            }

            function fang() {
                context.clearRect(0, 0, canvas.width, canvas.height);
                loop1();
                loop()
            }

            function loop() {
                var circle = new createCircle(Mx, My);
                suzu.push(circle);
                for (i = 0; i < suzu.length; i++) {
                    var ss = suzu[i];
                    ss.render(context);
                    ss.update()
                }
                if (suzu.length > 1000) {
                    suzu.shift()
                }
            }

            function createCircle(x, y) {
                this.x = x;
                this.y = y;
                this.color = Math.random() * 360;
                this.radius = Math.random() * 25;
                this.xVel = Math.random() * 5 - 2;
                this.apc = 0.6;
                this.gravity = 0.07;
                this.yVel = Math.random() * 10 - 3;
                this.render = function(c) {
                    c.beginPath();
                    c.arc(this.x, this.y, this.radius, 0, Math.PI * 2, true);
                    c.fillStyle = 'hsla(' + this.color + ',100%,60%,' + this.apc + ')';
                    c.fill()
                };

                this.update = function() {
                    if (!paused) {
                        this.yVel += this.gravity;
                        this.y += this.yVel
                    } else {
                        this.y -= 5
                    }
                    this.x += this.xVel;
                    this.apc -= 0.01;
                    if (this.radius > 1) {
                        this.radius -= 0.4
                    }
                }
            }
        </script>
    </head>

   
